<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raffaele.squarecash4glass"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-feature android:name="android.hardware.camera" />
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/square_logo"
        android:label="@string/app_name" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Contacts.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.raffaele.squarecash4glass.contacts.EmailDTO, 
    			   com.raffaele.squarecash4glass.contacts.ContactDTO,
    			   com.raffaele.squarecash4glass.contacts.PhoneNumberDTO,
    			   com.raffaele.squarecash4glass.contacts.SynchStatusDTO" />
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="om.raffaele.squarecash4glass"
            android:exported="false" />
        <activity
            android:name=".AmountActivity"
            android:icon="@drawable/square_logo"
            android:immersive="true"
            android:label="@string/title_activity_amount"
            android:noHistory="false" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </activity>
        <activity
            android:name="com.raffaele.squarecash4glass.GoogleContactsActivity"
            android:immersive="true"
            android:label="@string/title_contact_amount"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".CVVConfirmActivity"
            android:immersive="true"
            android:label="@string/title_activity_cvvconfirm"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".PinActivity"
            android:immersive="true"
            android:label="PinActivity"
            android:noHistory="false" >
        </activity>
        <activity
            android:name=".TransactionCompleted"
            android:immersive="true"
            android:label="@string/title_activity_cvvconfirm"
            android:noHistory="true" >
        </activity>
        <service
            android:name="com.raffaele.squarecash4glass.contacts.synch.ContactSynchService"
            android:enabled="true"
            android:exported="true"
            android:process=":synch_process" >
        </service>
        <receiver
            android:name="com.raffaele.squarecash4glass.contacts.synch.ContactSynchEventReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>